body{
   background-image: url("https://cdnx.premiumread.com/?url=https://www.japantimes.co.jp/japantimes/uploads/images/2026/02/05/521659.jpg&q=100&f=webp&t=1.53");
   background-position: left center;
   background-size: cover;
   height: 100vh;
   margin: 0;
}

.login{
   background-color: #b6818b;
   color: #802621;
   display: flex;
   flex-direction: column;
   max-width: 40rem;
   height: 100%;
   align-items: center;
}

h1 {
   margin: 5rem;
   font-size: 2.3rem;
}

.line-input {
   border: none;
   border-bottom: 0.125rem solid black;
   width: 60%;
   font-size: 1rem;
   margin: 3rem;
   background-color: #b6818b;
   opacity: 0.8;
}

.password{
   width: 74%;
}

#password-show{
   background-color: #802621;
   color: white;
   font-size: 1rem;
   border-radius: 1rem;
}

#password-show:hover{
   box-shadow: 0 0 1.375rem #802621,
               0 0 2.75rem #b6818b;
}

#submit{
   background-color: #802621;
   color: white;
   font-size: 1rem;
   padding: 0.4rem;
   width: 60%;
   margin: 4rem;
   border-radius: 1.5rem;
   height: 3rem;
}

#submit:hover{
   box-shadow: 0 0 1.375rem #802621,
               0 0 2.75rem #b6818b;
}

#back{
   background-color: #802621;
   color: white;
   font-size: 1rem;
   padding: 0.4rem;
   width: 60%;
   margin: 1.5rem;
   border-radius: 1.5rem;
   height: 3rem;
}

#back:hover{
   box-shadow: 0 0 1.375rem #802621,
               0 0 2.75rem #b6818b;
}